[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "spatialEco"]
	path = spatialEco
	url = https://github.com/jeffreyevans/spatialeco
	shallow = true
	registered = true
[submodule "GeNetIt"]
	path = GeNetIt
	url = https://github.com/jeffreyevans/genetit
	shallow = true
	registered = true
[submodule "rfUtilities"]
	path = rfUtilities
	url = https://github.com/jeffreyevans/rfutilities
	shallow = true
	registered = true
[submodule "yaImpute"]
	path = yaImpute
	url = https://github.com/jeffreyevans/yaimpute
	shallow = true
	registered = true
