[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GeNetIt"]
	path = GeNetIt
	url = https://github.com/jeffreyevans/genetit
[submodule "spatialEco"]
	path = spatialEco
	url = https://github.com/jeffreyevans/spatialeco
[submodule "yaImpute"]
	path = yaImpute
	url = https://github.com/jeffreyevans/yaimpute
